.no-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.no-page-text {
    font-size: 3rem;
    font-weight: bold;
}
